body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: rgb(220, 232, 254);
}
h1{
  
  font-weight: 900;
}
.result{
  font-weight: 700;
  font-style: italic;
}
button{
  padding: 15px 20px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background-color: rgb(185, 131, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
}